<!-- Observe some sources online use /rnode/ instead -->
<div class="flex-container">
  <a href="/node/<%= host %>/<%= port %>/?token=<%= password %>" target="_blank" class="btn btn-primary">
    <i class="fa fa-cogs"></i> Connect to CARTA
  </a>
  <a href="<%= job_stats_link %>" target="_blank" class="btn btn-info">
    <i class="fa fa-cogs"></i> Job Statistics
  </a>
</div>
