<!-- Observe some sources online use /rnode/ instead -->
<a href="/node/<%= host %>/<%= port %>/?token=<%= password %>" target="_blank" class="btn btn-primary">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-cogs"></i> Connect to CARTA
  </button>
</a>
